{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidenav.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.0/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>University Information Technology Center</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg logo">
        <img src="{% static '/img/tupclogo.png' %}" width="120" height="120" alt="">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
          <ul class="navbar-nav tup">
            <li class="nav-item active">
              <h1>TECHNOLOGICAL UNIVERSITY OF THE PHILIPPINES - CAVITE CAMPUS</h1>
              <p>Online Appointment</p>
            </li>
          </ul>
      </nav>


<!-- The sidebar -->

  <div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'logout' %}">LOGOUT</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button"  id="sidebarToggle"><span class="navbar-toggler-icon"></span></button>
              
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Type</th>
                <th scope="col">Full Name</th>
                <th scope="col">Date</th>
                <th scope="col">Purpose</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <h4>PENDING APPOINTMENT</h4>
              {% for uitc in alumnidata %}
              <tr>
                {% if uitc.status == 'Inbox' %}
                  <td>Alumni</td>
                  <td>{{ uitc.Aname }} {{ uitc.Alast }}</td>
                  <td>{{ uitc.Adate }}</td>
                  <td>{{ uitc.Apurp }}</td>
                  <td>
                    <a href="{% url 'confirm22' uitc.id %}" class="btn btn-primary"><i class='bx bx-check'></i></a>
                    <a href="{% url 'denied22' uitc.id %}" class="btn btn-danger"><i class='bx bx-x'></i></a>
                  <!--<button class="btn btn-secondary"><i class='bx bx-trash'></i></button>--> 
                  </td>
                {% endif %}
              </tr>
              {% endfor %}
              {% for uitc in studentdata %}
              <tr>
                {% if uitc.status == 'Inbox' %}
                  <td>Student</td>
                  <td>{{ uitc.Sname }} {{ uitc.Slast }}</td>
                  <td>{{ uitc.Sdate }}</td>
                  <td>{{ uitc.Spurp }}</td>
                  <td>
                    <a href="{% url 'confirm23' uitc.id %}" class="btn btn-primary"><i class='bx bx-check'></i></a>
                    <a href="{% url 'denied23' uitc.id %}" class="btn btn-danger"><i class='bx bx-x'></i></a>
                  <!--<button class="btn btn-secondary"><i class='bx bx-trash'></i></button>--> 
                  </td>
                {% endif %}
              </tr>
              {% endfor %}
              {% for uitc in guardiandata %}
              <tr>
                {% if uitc.status == 'Inbox' %}
                  <td>Guardian</td>
                  <td>{{ uitc.Gname }} {{ uitc.Glast }}</td>
                  <td>{{ uitc.Gdate }}</td>
                  <td>{{ uitc.Gpurp }}</td>
                  <td>
                    <a href="{% url 'confirm24' uitc.id %}" class="btn btn-primary"><i class='bx bx-check'></i></a>
                    <a href="{% url 'denied24' uitc.id %}" class="btn btn-danger"><i class='bx bx-x'></i></a>
                  <!--<button class="btn btn-secondary"><i class='bx bx-trash'></i></button>--> 
                  </td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <h4>APPOINTMENT CONFIRMATION</h4>

        <div class="container-fluid">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Type</th>
                <th scope="col">Full Name</th>
                <th scope="col">Date</th>
                <th scope="col">Purpose</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              {% for uitc in alumnidata %}
              <tr>
                {% if uitc.status == 'CONFIRMED' or uitc.status == 'DENIED' %}
                  <td>Alumni</td>
                  <td>{{ uitc.Aname }} {{ uitc.Alast }}</td>
                  <td>{{ uitc.Adate }}</td>
                  <td>{{ uitc.Apurp }}</td>
                  {% if uitc.status == 'CONFIRMED' %}
                    <td><span style="color: green;">{{ uitc.status }}</span></td>
                  {% elif uitc.status == 'DENIED' %}
                    <td><span style="color: red;">{{ uitc.status }}</span></td>
                  {% endif %}
                {% endif %}
              </tr>
              {% endfor %}
              {% for uitc in studentdata %}
              <tr>
                {% if uitc.status == 'CONFIRMED' or uitc.status == 'DENIED' %}
                  <td>Student</td>
                  <td>{{ uitc.Sname }} {{ uitc.Slast }}</td>
                  <td>{{ uitc.Sdate }}</td>
                  <td>{{ uitc.Spurp }}</td>
                  {% if uitc.status == 'CONFIRMED' %}
                    <td><span style="color: green;">{{ uitc.status }}</span></td>
                  {% elif uitc.status == 'DENIED' %}
                    <td><span style="color: red;">{{ uitc.status }}</span></td>
                  {% endif %}
                {% endif %}
              </tr>
              {% endfor %}
              {% for uitc in guardiandata %}
              <tr>
                {% if uitc.status == 'CONFIRMED' or uitc.status == 'DENIED' %}
                  <td>Guardian</td>
                  <td>{{ uitc.Gname }} {{ uitc.Glast }}</td>
                  <td>{{ uitc.Gdate }}</td>
                  <td>{{ uitc.Gpurp }}</td>
                  {% if uitc.status == 'CONFIRMED' %}
                    <td><span style="color: green;">{{ uitc.status }}</span></td>
                  {% elif uitc.status == 'DENIED' %}
                    <td><span style="color: red;">{{ uitc.status }}</span></td>
                  {% endif %}
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

<script src="{% static 'js/nav.js' %}"></script>
</body>
</html>


